/* Colores: #F4E3BF, #FBCBA8, #DC4541 */

body {
    height:100vh;
    background-image: linear-gradient(to bottom, #F4E3BF 40%, #FBCBA8 100%);
    background-size: 100% 100%;
    background-position: 40% 0%;
    font-family: 'Roboto', sans-serif;
  }
  

h1 {
     color: #DC4541;
     font-size: 3rem;
     font-weight: 250;
     margin-left: 2rem;
    }

.aboutMe {
    margin:  0rem 10rem;
    margin-top: 2rem
}

img.roundedImage {
     margin-top: 2rem;
     width: 15rem;
     height: 15rem;
     border-radius: 100%;
}

.btn {
    margin-top: 2rem;
    background-color: #DC4541;
    border-radius: 8px;
    color: white;
}
