/* Colores: #F4E3BF, #FBCBA8, #DC4541 */

body {
    display: flex;
    width: 100%;
    height:100%;
    background-image: linear-gradient(to bottom, #F4E3BF 40%, #FBCBA8 100%);
    background-size: 100% 100%;
    background-position: 40% 0%;
    font-family: 'Roboto', sans-serif;
  }
  
  #photoName {
    display:flex;
    flex-flow: wrap;
  }

  #photoName img,
  #photoname h1 {
    max-width: 100%;
    align-content: center;
  }

h1 {
     color: #DC4541;
     font-size: 3rem;
     font-weight: 250;
     margin-top: 1.5rem;
     text-align:center;
    }

.aboutMe {
    margin:  0% 10%;
    margin-top: 1rem;
    text-align: justify;
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutMe p {
    min-width: 80%;
}

img.roundedImage {
     margin-top: 2rem;
     width: 15rem;
     height: 15rem;
     border-radius: 100%;
}

.btn {
    margin-top: 2rem;
    background-color: #DC4541;
    border-radius: 8px;
    color: white;
    display: inline-block;
    text-align: center;
    margin-bottom: 1rem;
}
